p{
    font-family: 'Courier New', Courier, monospace;
}
.destaque{
    background-color: yellow;
}
input[type= password]{

    border:2px solid rgb(0, 0,255);
    border-radius: 10px;
    
}
p{
    font-family: 'Courier New', Courier, monospace;
}
#titulo-principal{
    color: blue;
}

.importante{
    color: red;
}

button[type= submit]:hover{
    color: aqua;
    background-color: aqua;
}

p::first-letter{
    font-size: 175%;
}
.container > div:first-of-type > p {
    color: red;
}
li:first-of-type{
    font-weight: bold;
}