p{
    font-family: 'Courier New', Courier, monospace;
}
.destaque{
    background-color: yellow;
}
input[type= password]{

    border:2px solid rgb(0, 0,255);
    border-radius: 10px;
    
}
<<<<<<< HEAD
p{
    font-family: 'Courier New', Courier, monospace;
}
#titulo-principal{
    color: blue;
}
=======

#titulo-principal{
    color: blue;
}

.importante{
    color: red;
}

>>>>>>> 61f26ab0ced252ea62e0b08d4621447960d74569
